.fs-12 {
  font-size: 12px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.v-al-bottom {
  vertical-align: text-bottom;
}
.Header {
  border-radius: 10px 10px 0px 0px;
  background-color: #d5dcff;
  border-bottom: 1px solid black;
  margin-top: 25px;
  padding: 0px 10px 15px 10px;
}
.Info {
  display: flex;
  border-radius: 0px 0px 10px 10px;
}
.TransactionInfo {
  padding-left: 10px;
  flex-grow: 6;
}
.WarehouseInfo {
  border-left: 1px solid black;
  padding-left: 10px;
  flex-grow: 1;
}
.PartnerInfo {
  border-left: 1px solid black;
  padding-left: 10px;
  flex-grow: 1;
}
.TransactionDetail {
  margin: 20px 0px;
}
.TotalPrice {
  padding: 15px 20px;
  border-radius: 10px;

  vertical-align: middle;
}

:where(.css-dev-only-do-not-override-1w3obg2) .ant-modal .ant-modal-content {
  padding: 0;
}

p {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-1w3obg2).ant-card .ant-card-body {
  padding: 0 16px;
}

@media print {
  html,
  body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    /* margin: 0 !important;
    padding: 0 !important; */
    overflow: hidden;
  }
}

.ant-modal {
  border-color: "black";
}
.formLabel {
  margin-left: 16px;
}

.ant-select-disabled:where(
    .css-dev-only-do-not-override-1w3obg2
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: black;
  background-color: white;
}

:where(.css-dev-only-do-not-override-1w3obg2).ant-input-number-disabled,
:where(.css-dev-only-do-not-override-1w3obg2).ant-input-number[disabled] {
  color: black;
  background-color: white;
}

:where(.css-dev-only-do-not-override-1w3obg2).ant-input-disabled,
:where(.css-dev-only-do-not-override-1w3obg2).ant-input[disabled] {
  color: black;
  background-color: white;
}
