.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
}
.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 90%;
}
.TransactionsToday,
.WarehouseStatus {
  flex: 2;
  height: 100%;
  margin: 0px 10px;
}
.OrderStatus {
  flex: 1;
  height: 100%;
  margin: 0px 10px;
}
.TransactionsToday,
.OrderStatus,
.WarehouseStatus {
  display: flex;
  flex-direction: column;
}
.Title {
  font-size: 3vh;
  padding: 20px 0px 10px;
  font-weight: bold;
  text-align: center;
}
.TransactionsToday {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.InboundStatus,
.OutboundStatus,
.WarehouseDetail,
.WarehouseCapacity {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.InboundStatus {
  margin-bottom: 10px;
  flex: 1;
}
.OutboundStatus {
  margin-top: 10px;
  flex: 1;
}
.WarehouseDetail {
  margin-bottom: 10px;
  flex: 1;
}
.WarehouseCapacity {
  margin-top: 10px;
  flex: 1;
  align-items: center;
}
.DoughnutWrapper {
  height: 70%;
}
.ChartBarWrapper {
  padding: 0px 30px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ChartBarWrapper .ant-tabs-content-holder {
  display: flex;
  align-items: flex-end;
}
.ChartBarWrapper .ant-tabs-content {
  height: 100%;
}
.ChartBarWrapper .ant-tabs-tabpane {
  height: 100%;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .inner {
    width: 100%;
    flex-direction: column;
    background-color: white;
  }
  .TransactionsToday,
  .OrderStatus,
  .WarehouseDetail,
  .WarehouseCapacity {
    height: auto;
    width: 100%;
    border-radius: 0px;
    padding: 0px 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .TransactionsToday {
    border-top: 2px solid black;
  }
  .OrderStatus {
    flex-direction: row;
  }
  .WarehouseStatus {
    height: auto;
    width: 100%;
  }
  .InboundStatus,
  .OutboundStatus,
  .WarehouseDetail,
  .WarehouseCapacity {
    margin: 0px;
    border-radius: 0px;
  }
  .inner .ant-table-cell {
    padding: 0px !important;
    text-align: center;
  }
}
