.TabView {
    width: 100%;
  }
  
  .TabView .title {
    font-weight: bold;
    padding: 0em;
  }
  
  .TabView .body {
    padding: 0em;
  }
  
  .TabView .tabs {
    display: flex;
    justify-content: top;
  }
  
  .TabView .tabs .tab {
    padding: 5px 2em;
  }
  
  .TabView .tabs .active-tab {
    padding: 5px 2em;
    border-bottom: 1px solid black;
    background-color: white;
  }
  
  .TabView .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color:white;
  }