.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.SideMenu {
  height: 100%;
  text-align: left;
}

.SideMenuVertical {
  height: 100%;
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.AppTab {
  background-color: red;
  color: red;
}

.PageContent {
  margin-top: 20px;
  /* margin-left: 10px; */
  /* margin-left: 10px; */
  width: 100%;
}

.AppHeader {
  /* height: 50px; */
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  background-color: #a4acd6;
  align-items: center;
  padding: 4px 20px 4px 12px;
}

.TabView .content {
  padding: 0px;
}

.ant-menu-vertical .ant-menu-submenu-title {
  /* padding: 30px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
